<h1>Let's draft!</h1>

<%= @user.name  %>

<%= " It's your pick!" %>: <%= "remaing budget = " %><br /><br />
<%= " It's your pick!" %>: <%= "remaing budget = " %><br /><br />

# <% @players.each do |player| %>
#   <%= player.name %><br />
# <% end %>
