<%= form_for(@user) do |f|%>
<div class="image">
  <div class="user_forms">
    <div class="user_1">
      <%= f.label :player_1_team_name %>
      <%= f.text_field :name_1 %><br /><br />
      <%= f.label :smack_talk %>
      <%= f.text_area :smack_talk_1 %><br /><br />
    </div>

     <div class="versus">
       Vs.
     </div>

    <div class="user_2">
      <%= f.label :player_2_team_name %>
      <%= f.text_field :name_2 %><br /><br />
      <%= f.label :smack_talk %>
      <%= f.text_area :smack_talk_2 %><br /><br />
    </div>

  </div>

  <div class="create_users">
    <%= f.submit "Create Users" %>
  </div>
  <!-- <img src="https://i.imgur.com/hPA8DPx.png"> -->
</div>

<% end %>
