<%= form_for(@user) do |f|%>
  <div class="user_forms">
    <div class="user_1">
      <%= f.label :player_1, class: "form_labels" %>
      <%= f.text_field :name_1, class: "box" %><br /><br />
      <%= f.label :smack_talk, class: "form_labels" %>
      <%= f.text_area :smack_talk_1, class:"box" %><br /><br />
    </div>

    <div class="user_2">
      <%= f.label :player_2, class: "form_labels" %>
      <%= f.text_field :name_2, class:"box" %><br /><br />
      <%= f.label :smack_talk, class: "form_labels" %>
      <%= f.text_area :smack_talk_2, class:"box" %><br /><br />
    </div>

  </div>

  <div class="create_users">
    <%= f.submit "Let's Draft!", class: "huge ui orange button" %>
  </div>
  <!-- <img src="https://i.imgur.com/hPA8DPx.png"> -->

<% end %>
