<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %><br />
  <% end %>
<% end %><br /><br />

<% if flash[:notices] %>
  <% flash[:notices].each do |notice| %>
    <%= notice %><br />
  <% end %>
<% end %>

<%= form_for(@user) do |f|%>
  <%= f.label :player_1_name %>
  <%= f.text_field :name_1 %><br /><br />
  <%= f.label :smack_talk %>
  <%= f.text_area :smack_talk_1 %><br /><br />

  <h1>Player 2, Make Your Team</h1>

  <%= f.label :player_2_name %>
  <%= f.text_field :name_2 %><br /><br />
  <%= f.label :smack_talk %>
  <%= f.text_area :smack_talk_2 %><br /><br />
  <%= f.submit %>

<% end %>
