<h1>Let the Game begin!</h1>

Home Score: <%= @game.home_score %><br /><br />
Away Score: <%= @game.away_score %><br /><br />
Last Play Update: <%= @game.game_updates %><br /><br />


<%= @team_1.team_name %>:

<ol>
<% @players.each do |player| %>
  <% if player.team_id == @team_1.id %>
      <li><%= player.name %></li>
    <% end %>
<% end %>
</ol>

<%= @team_2.team_name %>:

<ol>
<% @players.each do |player| %>
  <% if player.team_id == @team_2.id %>
      <li><%= player.name %></li>
    <% end %>
<% end %>
</ol>

<%= button_to "Sim until first game update", '/games/update_game', method: :get %>
