<div class="flatiron">
  <h1>Welcome to Flatiron Arena</h1>
</div>

<% @game.period_counter %>
<!-- <h2><%= @team_1.team_name %>'s Score: <%= @game.home_score %></h2>
<h2><%= @team_2.team_name %>'s Score: <%= @game.away_score %></h2> -->

<div class="scoreboard">
  <div class="score">
    <h1><%= @game.home_score %></h1>
  </div>

  <div class="score">
    <h1><%= @game.away_score %></h1>
  </div>
</div>

<div class="player_names">
  <div class="name">
    <h1><%= @team_1.team_name %></h1>
  </div>

  <div class="name">
    <h1><%= @team_2.team_name %></h1>
  </div>
</div>



<div class="period">
  <% if @game.period_counter == 4 %>
    <h4>That's the end of the first quarter folks!</h4>
  <% elsif @game.period_counter == 8 %>
    <h4>That's a wrap on the second quarter!</h4>
  <% elsif @game.period_counter == 12 %>
    <h4>That's the end of the third!</h4>
  <% elsif @game.period_counter == 16 %>
    <h4>And that's the game!</h4>
  <% else %>
    <h4>Last Play Update: <%= @game.game_updates %></h4>
  <% end %><br /><br />
</div>

<!-- <h3><%= @team_1.team_name %>'s Lineup:</h3> -->

<!-- <ol>
<% @players.each do |player| %>
  <% if player.team_id == @team_1.id %>
      <li><%= player.name %> | Points: <%= player.points %></li>
    <% end %>
<% end %>
</ol>

<h3><%= @team_2.team_name %>'s Lineup:</h3>

<ol>
<% @players.each do |player| %>
  <% if player.team_id == @team_2.id %>
      <li><%= player.name %> | Points: <%= player.points %> </li>
    <% end %>
<% end %>
</ol><br /><br /> -->
<!--
<% if @game.period_counter == 4 %>
  <%= button_to "Let's start the second quarter", '/games/update_game', method: :get %>
<% elsif @game.period_counter == 8 %>
  <%= button_to "Let's start the third quarter", '/games/update_game', method: :get %>
<% elsif @game.period_counter == 12 %>
  <%= button_to "Let's start the fourth quarter", '/games/update_game', method: :get %>
<% elsif @game.period_counter == 16 %>
  <%= button_to "Let's check out the end of the game stats", '/games/end_game', method: :get %>
<% else %>
  <%= button_to "Sim until next play update", '/games/update_game', method: :get %>
<% end %> -->

<!-- <div class="scores">
  <div class="ui card">
    <div class="content">
      <div class="center aligned header"><%= @team_1.team_name %></div>
      <div class="center aligned description">
        <h1><%= @game.home_score %></h1>
      </div>
    </div>
  </div>

  <div class="ui card">
    <div class="content">
      <div class="center aligned header"><%= @team_2.team_name %></div>
      <div class="center aligned description">
        <h1><%= @game.away_score %></h1>
      </div>
    </div>
  </div>
</div> -->

<div class="start_button">
  <% if @game.period_counter == 4 %>
    <%= button_to "Start the second quarter", '/games/update_game', method: :get, class: "ui orange button" %>
  <% elsif @game.period_counter == 8 %>
    <%= button_to "Start the third quarter", '/games/update_game', method: :get, class: "ui orange button" %>
  <% elsif @game.period_counter == 12 %>
    <%= button_to "Start the fourth quarter", '/games/update_game', method: :get, class: "ui orange button" %>
  <% elsif @game.period_counter == 16 %>
    <%= button_to "It's time to celebrate", '/games/end_game', method: :get, class: "ui orange button" %>
  <% else %>
    <%= button_to "Jump to next play update", '/games/update_game', method: :get, class: "ui orange button" %>
  <% end %>
</div>

<div class="floor">
  <img src="https://i.imgur.com/atDQyuM.png" />
</div>

<div class="teams">
  <div class="team_1">
    <% @players.each do |player| %>
      <% if player.team_id == @team_1.id %>
      <div class="ui card">
        <div class="image">
          <img src=" <%= player.player_image %>">
        </div>
        <div class="content">
          <a class="header"> <%= player.name %></a>
          <div class="meta">
            <span class="date"> <%= player.player_team %></span>
          </div>
          <div class="description">
            <b>Position:</b> <%= player.position %><br />
            <b>Points:</b>  <%= player.points %><br />
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="team_2">
    <% @players.each do |player| %>
      <% if player.team_id == @team_2.id %>
      <div class="ui card">
        <div class="image">
          <img src=" <%= player.player_image %>">
        </div>
        <div class="content">
          <a class="header"> <%= player.name %></a>
          <div class="meta">
            <span class="date"> <%= player.player_team %></span>
          </div>
          <div class="description">
            <b>Position:</b> <%= player.position %><br />
            <b>Points:</b>  <%= player.points %><br />
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
