<h1>Player Info</h1>

<b>Name:</b> <%= @player.name %><br /><br />
<b>Team:</b> <%= @player.player_team %><br /><br />
<b>Overall Rating:</b> <%= @player.overall_rating %><br /><br />
<b>PPG:</b> <%= @player.ppg %><br /><br />
<b>Offensive Rating:</b> <%= @player.off_rating %><br /><br />
<b>Defensive Rating:</b> <%= @player.def_rating %><br /><br />
<b>Price:</b> <%= @player.price %><br /><br />

<%= link_to "Back to Draft", :back %>
