<div class="draft_welcome_2">
  <h1><%= "#{@team_2.name_2}, it's your pick!" %> | <%= "Remaing budget: $#{@team_2.budget} " %></h1>
</div>

<% if flash[:budget_error] %>
  <%= flash[:budget_error] %>
<% end %>

<div class="draft_form_2 z">
  <%= form_for @player, url: {action: 'update_player_2'}, html: {method: "patch"} do |f| %>
    <%= collection_select(:player, :name, @unpicked_players, :id, :name) %>
    <%= collection_select(:player, :team_id, @team, :id, :team_name) %>
    <%= f.submit "Draft Player", class: "ui orange button" %>
  <% end %><br />
</div>

<div class="players_list">
  <% @unpicked_players.each do |player| %>
    <div class="ui card">
      <div class="image">
        <img src=" <%= player.player_image %>">
      </div>
      <div class="content">
        <a class="header"> <%= player.name %></a>
        <div class="meta">
          <span class="date"> <%= player.player_team %></span>
        </div>
        <div class="description">
          <b>Position:</b> <%= player.position %><br />
          <b>Overall Rating:</b> <%= player.overall_rating %><br />
          <b>Price:</b> $<%= player.price %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if flash[:budget_error] %>
  <%= button_to "Restart Game", new_game_path, method: :get %>
<% end %>
